/Halcyon/Halcyon.v12.suo
/Halcyon/bin/Debug/Halcyon.exe.config
/Halcyon/bin/Debug/Halcyon.vshost.exe
/Halcyon/bin/Debug/Halcyon.vshost.exe.config
/Halcyon/bin/Debug/Halcyon.vshost.exe.manifest
/Halcyon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Halcyon/obj/Debug/Halcyon.csproj.FileListAbsolute.txt
/Halcyon/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Halcyon/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Halcyon/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Halcyon/bin/Debug/Halcyon.exe
/Halcyon/bin/Debug/Halcyon.pdb
/Halcyon/bin/Debug/Utils.dll
/Halcyon/bin/x86/Halcyon/Halcyon.exe
/Halcyon/bin/x86/Halcyon/Halcyon.exe.config
/Halcyon/bin/x86/Halcyon/Halcyon.pdb
/Halcyon/bin/x86/Halcyon/Halcyon.vshost.exe
/Halcyon/bin/x86/Halcyon/Halcyon.vshost.exe.config
/Halcyon/obj/Debug/Halcyon.csprojResolveAssemblyReference.cache
/Halcyon/obj/Debug/Halcyon.exe
/Halcyon/obj/Debug/Halcyon.pdb
/Halcyon/obj/Halcyon/DesignTimeResolveAssemblyReferencesInput.cache
/Halcyon/obj/Halcyon/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Halcyon/obj/Halcyon/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Halcyon/obj/Halcyon/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Halcyon/obj/x86/Halcyon/DesignTimeResolveAssemblyReferencesInput.cache
/Halcyon/obj/x86/Halcyon/Halcyon.csproj.FileListAbsolute.txt
/Halcyon/obj/x86/Halcyon/Halcyon.exe
/Halcyon/obj/x86/Halcyon/Halcyon.pdb
/Halcyon/obj/x86/Halcyon/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Halcyon/obj/x86/Halcyon/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Halcyon/obj/x86/Halcyon/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/tcc-output/Utils.def
/tcc-output/Utils.dll
